src/main/java/com/mycompany/memory/util/DatabaseConnection.java
target/classes/com/mycompany/memory/util/DatabaseConnection.class
/src/main/java/com/mycompany/memory/util
/src/main/java/com/mycompany/memory/util
/src/main/java/com/mycompany/memory/util
src/main/java/com/mycompany/memory/util/DatabaseConnection.java:10
